<!DOCTYPE html>
<html>
    <head>
    <!--Internet says to implement this type of linking to for proper transfer:-->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href = "{{ url_for ('static', filename = 'css/styles.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="javascript" href="{{ url_for ('static', filename = 'js/functions.js')}}">
        
        {% block headContent %}

        {% endblock %}

    </head>

    {% block bodytag %}
    <body class = color-mode>
    {% endblock %}
    
        <script type="text/javascript" src="{{ url_for ('static', filename = 'js/functions.js')}}"></script>


        <div class = "brandButton">
        <button onclick="window.location.href='/brandpage.html'">
          <img class="icon" id="icon" src="{{ url_for ('static', filename = 'img/CarInfo.png') }}">
        </button>
      </div>
        <!--Everything was functioning properly until the below was changed. Will troubleshoot.-->

        <!--Just try actually typing the direct url in there like the index.html-->

        <!--Some code sourced from w3 schools. https://www.w3schools.com/howto/howto_js_mobile_navbar.asp-->
        <div class="topnav">
          <a href="/index.html" class="bottle">
              <h1 class="HeadText">CAR INFO</h1>
          </a>
  
          <!-- Navigation links (hidden by default) -->
          <div id="myLinks" style="display: none;">
            <a href="/index.html">Home</a>
            <a href="/brandpage.html">Brands</a>
            <a href="/aboutpage.html">About</a>
            <a href="/contactus.html">Contact Us</a>
          </div>
  
            
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a class="icon" onclick="displayMenu()">
              <i class="fa fa-bars"></i>
            </a>
          
          </div> 
          
        {% block content %}
        <div class="content">
        
            

        
        </div>
    
      </body>
      {%endblock%}

</html>