<!DOCTYPE html>
<html>
    <head>

        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
        <div class="content">
            {% block content %}
            <img src="{{ brand_logo }}" alt="{{ car_make }} logo" class="logo">
            
            <h1>{{ car.make }} {{ car.model }} ({{ car.year }})</h1>
            
            <div class="car-image">
                <img src="{{ car_dark }}" alt="{{ car_make }} {{ car_model }} dark image">
            </div>
    
            <div class="car-details">
                <div class="car-detail"><strong>Make:</strong> {{ car_make }}</div>
                <div class="car-detail"><strong>Model:</strong> {{ car_model }}</div>
                <div class="car-detail"><strong>Year:</strong> {{ car_year }}</div>

                <!-- Potential details that would be nice<div class="car-detail"><strong>Engine:</strong> {{ car_engine }}</div>-->
                <!-- Potential details that would be nice<div class="car-detail"><strong>Horsepower:</strong> {{ car_horsepower }} HP</div>-->
                <!-- Potential details that would be nice<div class="car-detail"><strong>Fuel Type:</strong> {{ car_fuel_type }}</div>-->
                <!-- Potential details that would be nice<div class="car-detail"><strong>Price:</strong> ${{ car_price }}</div>-->
            </div>
        </div>
    </body>
    {%endblock%}
</html>