<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %} 

<h1>{{ car_name }}</h1>

<!-- <div class="car-image"> 
    <img src="{{ car_image_url }}" alt="{{ car_name }} image">
</div> -->



<body class="car_info">

    <h1>{{ brand }} Cars in {{ country | capitalize }}</h1>
    
    <!--Look at the slideshow code to see how to implement the way to -->
    <div>
        <img src = "{{ logo }}" alt="{{ brand }}"> </img>
    </div>
       
        {% for car in selected_cars %}
        
            <div>
                <img src="{{dark}}" alt="{{brand}}"></img>
                <p><strong> {{ car }} </strong></p>
            </div>
        
        {% endfor %}


</body>


{% endblock %}

