<!DOCTYPE html>

{% extends "base.html" %}

{% block headContent %}

<title>Car Info - {{ car }}  {{ brand }}</title>

{% endblock %}


{% block bodytag %}
<body class="car_info" onload='addImages("{{ selected_car }}")'>
{% endblock %}

{% block content %} 
    <button id="backButton" onclick="history.back()">Back</button>

    <div class = "brandButton">
        <button onclick="window.location.href='/brandpage.html'">
          <img class="icon" id="icon" src="{{ url_for ('static', filename = 'img/CarInfo.png') }}">
    </button>
</div>

<div class="center-content" id = "oneCarPadding">
    <h2>{{ country }} - {{ brand }}</h2>
    <h3>{{ car }} - {{ year }}</h3>
   <div>
    <img src="{{ imgLink }}" id="resize2">
   </div>
   <div id="description">
    {{ description | safe }}
   </div>
</div>
</body>

{% endblock %}