<!DOCTYPE html>

{% extends "base.html" %}

{% block headContent %}

<title>Car Info - {{ car }}  {{ brand }}</title>

{% endblock %}


{% block bodytag %}
<body class="car_info" onload='addImages("{{ selected_car }}")'>
{% endblock %}

{% block content %} 
    <button id="backButton" onclick="history.back()">Back</button>
    <h2>{{ country }} - {{ brand }}</h2>
    <h3>{{ car }} - {{ year }}</h3>
   <div>
    <img src="{{ imgLink }}" id="resize1">
   </div>
   <div id="description">
    {{ description | safe }}
   </div>

</body>

{% endblock %}